# Ignore virtual environments
.venv/
.venv_py38/
.venv_py311/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# VSCode or PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store

# Logs and temp
*.log
*.tmp

# Application specific
config/credentials.json
config/client_secret.json
token.json
credentials.json



# Python virtual environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
